.root {
  display: flex;
  flex-direction: column;

  width: var(--l-canvas-width);
  height: var(--l-canvas-height);
  border: 2px dashed var(--c-gray0);

  background-color: #fff;
  border-radius: var(--l-common-border-radius);
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}
