:root {
  --l-canvas-width: 240px;
  --l-canvas-content-width: 232px;
  --l-canvas-height: 480px;
  --l-common-border-radius: 6px;

  --c-primary: #5d5fef;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-black1: #111827;
  --c-gray: #6b7280;
  --c-gray0: #c4c4c4;
  --c-gray1: #e2e3e5;
  --c-gray2: #f3f4f6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
